
.git/
.vs/

Binaries/

DerivedDataCache/
Intermediate/
Saved/

Content/Characters
Content/Collections
Content/Developers
Content/FPWeapon
Content/LevelPrototyping
Content/StarterContent
Content/VRSpectator
Content/VRTemplate
